:root {
  --fonte: 'Lexend', sans-serif;
  --fonte-secundaria: 'Inter', sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --roxo: #5C63EF;
  --roxo-fosco: #292B52;
  --cinza-escuro: #8F8F8F;
  --cinza-claro: #EDF0F2;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
